.frame {
  min-width: 1100px;
  .header-area {
    width: 100%;
    background-color: #F3F6FD;
  }
  .main {
    display: flex;
    margin: 20px 20px 0 20px;
    .main-l {
      width: 220px;
      background: #244075;
    }
    .content {
      flex: 1;
     // box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
      background: #fff;
      min-height: 500px;
    }

    .content-list {
      margin: 0 auto;
    }
  }
}


