.menu-info-list{
  span i{
    font-size: 14px;
  }
}

.bread-crumb-area .el-breadcrumb{
  line-height: 50px;
}
.main-content{
  .el-table th>.cell,.el-table .cell{
    text-align: center;
  }
  .el-dialog__header{
    background: #39c;
  }
  .el-dialog__title{
    color:#fff;
    font-size: 16px;
  }
  .el-dialog__headerbtn .el-dialog__close{
    color: #fff;
  }
  .el-dialog__body{
    padding: 0 20px;
  }
  .el-table th, .el-table tr {
    background-color: #F2F6FC;
  }
  .el-dialog__body .el-table th,  .el-dialog__body .el-table tr{
    background-color: #fff;
  }
}


