.main-content {
  .bread-crumb-area {
    padding: 0 20px;
    border-bottom: 1px solid #EBEEF5;
  }
  .main-content-area {
    padding: 20px;
  }
  .form-area{
    background-color: #F2F6FC;
    padding: 20px 0;
  }
  .el-form-item{
    margin: 0;
  }
  .table-area{
    background-color: #F2F6FC;
    border:1px solid #ebeef5
  }
  .type{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-weight: 600;
  }
}

